@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container-fluid {
	padding: 0;
	margin: 0;
}

.wrapper-hero-detail {
	padding: 0 50px;
	margin: 0;
}

#nav-detail {
	display: flex;
	padding: 25px 50px;
	line-height: 50px;
	position: relative;
	width: 100%;
}

.nav-left a {
	text-decoration: none;
	color: #414141;
	text-transform: uppercase;
	font-style: bold;
	font-size: 24px;
	font-weight: 700;
}

.nav-right a {
	text-decoration: none;
	color: #414141;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
	margin: 0 20px;
}

.nav-left {
	width: 50%;
}

.nav-right {
	width: 50%;
	text-align: right;
}

.nav-right a:nth-child(3) {
	border: 1px solid #414141;
	padding: 15px 25px;
	font-size: 18px;
}

.wrapper-hero {
	display: flex;
	margin-top: 50px;
}

.left-hero {
	width: 60%;
}

.left-hero {
	height: 447px;
	min-width: auto;
	height: 447px;
	background: url('../../assets/articles/article-3.jpg') no-repeat center center;
	background-size: cover;
	border-radius: 10px;
}

.right-hero {
	width: 40%;
	padding: 50px 30px;
}


#heroContent h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
	color: #000000;
	text-align: center;
}

#heroContent article {
	text-align: justify;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}


.wrapper-image {
	padding: 0 50px;
	margin: 50px 0;
}

.wrapper-image h2 {
	text-align: center;
	margin-bottom: 50px;
}

#imageContent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 4fr;
	justify-items: center;
	gap: 10px;
	column-gap: 10px;
}

.box-image img {
	width: auto;
	height: 186px;
	border-radius: 10px;
	max-width: 300px;
	max-height: 200px;
}

.wrapper-main-about {
	margin-top: 50px;
}


.wrapper-content-about {
	display: flex;
}

.left-side {
	width: 50%;
}

.left-side {
	height: 580px;
	min-width: auto;
	max-height: 580px;
	background: url('../../assets/bg-about.jpg') no-repeat center center;
	background-size: cover;
}

.right-side {
	width: 50%;
	padding: 100px 80px 100px 50px;
}

.right-side p {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #000000;
}

#aboutContent article {
	text-align: justify;
	margin-top: 1.5rem;
}

.border-3 {
	height: 2px;
	width: 50px;
	background: rgba(65, 65, 65, 0.75);
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	border-radius: 5px;
}

/* .right-side .border-3 {
	margin-top: 0px;
} */

.wrapper-product {
	padding: 0 50px;
	margin: 50px 0;
}

.wrapper-buy-product {
	display: flex;
	justify-content: space-between;
}

.product-image-box {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
	margin-right: 50px;
}

.product-detail-box {
	width: 1060px;
	height: 368px;
	background: #F9F9F9;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
	padding: 50px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 45px;
	color: #000000;
}

.product-detail-box h2 {
	font-size: 36px;
	line-height: 42px;
	margin-bottom: 30px;
}

.price {
	display: flex;
	justify-content: space-between;
}

.product-detail-box p {
	margin-bottom: 0;
}

.price:nth-last-child(1) {
	margin-top: 30px;
}

.btn-wrapper {
	margin: 30px 0;
	display: flex;
	justify-content: end;
}

#buyBtn {
	width: 200px;
	height: 50px;
	background: #6CBE5E;
	border-radius: 10px;
	color: #FFFFFF;
	border: none;
}

.footer-product {
	display: flex;
	align-items: center;
	height: 100px;
	padding: 0 50px;
	background-color: #6CBE5E;
}

.footer-product div {
	text-align: right;
	width: 100%;
}

.footer-product a {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 20px;

}

@media(max-width : 1200px) {
	#imageContent {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 70px;
		row-gap: 90px;
	}
}

@media(max-width : 768px) {
	#imageContent {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 70px;
		row-gap: 90px;
	}
}