@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* body {
	overflow-x: hidden;
} */

#nav-main {
	display: flex;
	padding: 25px 50px;
	background-color: #6CBE5E;
	line-height: 50px;
}

.nav-left a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-style: bold;
	font-size: 24px;
	font-weight: 700;
}

.nav-right a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
	margin: 0 20px;
}

.nav-right a:nth-child(4) {
	border: 1px solid white;
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 18px;
}

.nav-left {
	width: 20%;
}

.nav-right {
	width: 80%;
	text-align: right;
}

.bg-product {
	background-repeat: no-repeat;
	background-image: url('../assets/bg-product.png');
	left: 0;
	width: 100%;
	height: auto;
	min-width: fit-content;
	min-height: 500px;
	background-size: cover;
	background-position: center;
}

.bg-product div {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Open Sans';
	font-style: normal;
	color: white;
	text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
}

.bg-product h1 {
	font-weight: 600;
	font-size: 48px;
	line-height: 65px;
}

.bg-product p {
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
}

.wrapper-product {
	padding: 50px 0 100px;
}

.wrapper-product h2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.wrapper-product p {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.wrapper-product-img p {
	font-size: 16px;
	line-height: 22px;
}

.wrapper-product-img {
	display: inline-block;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	padding-bottom: 80px;
}

#product {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	column-gap: 70px;
	row-gap: 90px;
}

#product .item-product {
	width: 300px;
	height: 400px;
	background: #FAFAFA;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	position: relative;
}

#product .item-product img {
	width: auto;
	height: 200px;
	margin: 60px 0;
}

/* active */
#product .active-detail {
	background: rgba(89, 89, 89, 0.69);
}

.active-detail img,
.active-detail p {
	opacity: 50%;
}

.active-detail a {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;

	padding: 10px 50px;
	border: 4px solid #FFFFFF;
	align-items: center;
	position: absolute;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}


#pagination {
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#pagination span {
	margin: 0 10px;
}

#list-page span {
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: #959595;
	text-align: center;
}

#list-page span.active {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #404040;
	text-align: center;
}


.footer-product {
	display: flex;
	align-items: center;
	height: 100px;
	padding: 0 50px;
	background-color: #6CBE5E;
}

.footer-product div {
	text-align: right;
	width: 100%;
}

.footer-product a {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 20px;

}

/* #product .item-product:hover {
	-webkit-filter: brightness(70%);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
} */


@media(max-width : 1200px) {
	#product {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 70px;
		row-gap: 90px;
	}
}

@media(max-width : 768px) {
	#product {
		grid-template-columns: repeat(1, 1fr);
		column-gap: 70px;
		row-gap: 90px;
	}
}